.machine-driver.%%DRIVERNAME%% {
  background-image: url('upcloud.svg');
}

.zoneCard {
  border: 1px solid lightgray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
}

.zoneCard .labels {
  display: inline-flex;
  flex-direction: column;
}
